@model IEnumerable<NewProject.Models.ProfileViewModel>


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Profile</h1>


<table class="table">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>DateOfBirth</th>
        <th>Age</th>
        <th>Country</th>
        <th>City</th>

    </tr>
    @foreach(var profile in Model)
    {
        <tr>
            <td>@profile.FirstName</td>
            <td>@profile.Surname</td>
            <td>@profile.DateOfBirth.Year - @profile.DateOfBirth.Month - @profile.DateOfBirth.Day</td>
            <td>@profile.Age</td>
            <td>@profile.Country</td>
            <td>@profile.City</td>
            <td>
                <a class="btn btn-primary" asp-controller="Profile" asp-action="Edit" asp-route-id=@profile.Id>Edit</a>
                <a class="btn btn-danger" asp-controller="Profile" asp-action="Delete" asp-route-id=@profile.Id>Delete</a>
            </td>
        </tr>

    }

</table>

<div>
    Click here to add someone
    <a class="btn btn-primary" asp-controller="Submission">
        Add someone
    </a>

</div>
    



